@using MVCProject.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = ViewBag.layout;
}


<section class="content-header">
    <h2>@ViewBag.Title</h2>
</section>
<section class="content">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="arrage-popup">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</section>
