@model IEnumerable<MVCProject.Models.Catalog>
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> roles = (List<string>)ViewData["AccessList"];
}

<section class="content-header">
    <h2>
        Danh mục
    </h2>
    <div class="arrange-button">
        @if (roles.Contains("3"))
        {
            <a href="../Catalog/Create" class="btn btn-info" id="modaltrigger" rel="leanModal">Thêm mới</a>
        } 
    </div>
</section>
<section class="content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc; color:#fff">
                        <th>Tiêu đề</th>
                        <th>Mô tả</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <th>
                                @if (roles.Contains("4"))
                                {
                                    @Html.ActionLink(item.Title, "Edit", new { id = item.ID })
                                }
                                else
                                {
                                    @item.Title
                                }
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</section>