
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.Frontend.cshtml";
}
<section class="content-header">
    <h2>
        Hướng dẫn đặt hàng
    </h2>
</section>
<section class="content">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr style="background-color: #3c8dbc; color:#fff">
                    
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <th>
                            <iframe width="852" height="480" src="https://www.youtube.com/embed/YuWJKTMZqEk" frameborder="0" allowfullscreen></iframe>
                        </th>
                    </tr>
                <tr>
                    <th>
                        <a href="../Tutorial/ViewPDFOrder">HƯỚNG DẪN SỬ DỤNG BẰNG HÌNH</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</section>