@using ReportViewerForMvc;

@{
    ViewBag.Title = "Hóa đơn lẻ";
}


<h2>Hón đơn lẻ</h2>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
<a href="@Url.Action("ViewPDF")">ExportPDF</a>